<aside class="app-related govuk-!-display-none-print" role="complementary">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">GHWT journeys</h2>
    <nav role="navigation" aria-labelledby="-title">
        <ul class="app-related__list">
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="bios-admin">BIOS/admin</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="new-homepage-design">New homepage
                        design</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="reset-device-password">Reset device
                        password</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="christmas-closure">Christmas
                        closure</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="chromebooks-interaction">Chromebooks
                                interaction</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="chromebooks-interaction-future">Chromebooks
                                interaction (future)</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="allocations-box">Allocations box</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="chromebook-domains">Multiple
                                chromebook domains</a>
                </h3>
            </li>
        </ul>
    </nav>
</aside>