<aside class="app-related govuk-!-display-none-print" role="complementary">
    <h2 class="govuk-heading-s govuk-!-margin-bottom-2" id="-title">GHWT journeys</h2>
    <nav role="navigation" aria-labelledby="-title">
        <ul class="app-related__list">
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="https://github.com/DFE-Digital/npq-prototype/pull/22">Asset Tag</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="https://github.com/DFE-Digital/npq-prototype/pull/22">New homepage
                        design</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="https://github.com/DFE-Digital/npq-prototype/pull/22">Reset device
                        password</a>
                </h3>
            </li>
            <li class="app-related__list-item">
                <h3 class="app-related__list-item-title">
                    <a class="govuk-link" href="https://github.com/DFE-Digital/npq-prototype/pull/22">Christmas
                        closure</a>
                </h3>
            </li>
        </ul>
    </nav>
</aside>