{% extends "layout.html" %}
{% set test = true %}

{% set bread = true %}
{% set home = 'Yo' %}

{% block pageTitle %}
Get help with technology
{% endblock %}
{% block breadCrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/testing"
},
{
text: "Your account",
href: "your-account"
},
{
text: "Order devices and routers",
href: "devices"
},
{
text: "Order devices"
}

]
}) }}
{% endblock %}
{% block content %}

<style>
.app-card {
    background-color: #f3f2f1;
    display: block;
    padding: 20px;
    text-decoration: none;
    font-family: GDS Transport,arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25;
    margin-bottom: 15px;
}
</style>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Order devices
        </h1>

        <div class="govuk-warning-text" data-module="app-tech-source-maintenance-banner"><span
                class="govuk-warning-text__icon" aria-hidden="true">!</span><strong
                class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span>The
                TechSource website will be closed for maintenance on <span class="app-no-wrap">Friday 26 November
                    09:00am.</span> You can order devices when it reopens on <span class="app-no-wrap">Monday 29
                    November 09:00am.</span></strong></div>



    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <div id="allocation" class="app-card govuk-!-margin-bottom-4">
            <h2 id="total_allocation_sentence" class="govuk-heading-l">
                Essex County Council has a total allocation of 234 devices for academic year 2021/22
            </h2>

            <h2>You can order 4G routers</h2>

            <h2 id="ordered_sentence">
                You’ve ordered 108 devices and 38 routers in academic year 2021/22
            </h2>

            <div id="current_tranche">
                <div class="govuk-warning-text govuk-!-margin-bottom-0"><span class="govuk-warning-text__icon"
                        aria-hidden="true">!</span><strong class="govuk-warning-text__text"><span
                            class="govuk-warning-text__assistive">Warning</span>These allocations are for the current
                        winter 2021 Get help with tech programme. Devices ordered before 30 September 2021 are not
                        included here.</strong></div>
            </div>

            <div id="order-devices">
                <a class="govuk-button govuk-!-margin-top-4 govuk-!-margin-bottom-1"
                    href="/responsible-body/devices/order-devices">Order devices</a>
            </div>

        </div>

        <h2 class="govuk-heading-m">
            What’s in stock
        </h2>

        <p class="govuk-body">
            You can see which types of device are currently in stock when you sign in to TechSource.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="/devices/device-specification">Read more about the devices and specifications
                that may be available.</a>
        </p>


        <h2 class="govuk-heading-m">
            Before you order
        </h2>
        <p class="govuk-body">
            Make sure you’re certain of what devices you need, as amending or cancelling an order will cause delays.
        </p>
        <p class="govuk-body">
            It may help to:
        </p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a class="govuk-link" href="/devices/device-specification">check device specifications</a></li>
            <li>
                <a class="govuk-link" href="/responsible-body/users">give someone else access so they can place
                    orders</a>
            </li>
        </ul>

        <p class="govuk-body">
            If you order iPads, we’ll ask for your Apple School Manager (ASM).
            <a class="govuk-link" href="https://school.apple.com/">Go to the Apple School website to find your ASM, or
                to create an account</a>.
        </p>

        <h2 class="govuk-heading-m">Operation Warm Welcome</h2>

        <p class="govuk-body">
            There’s a different process for
            ordering devices for children arriving
            under Operation Warm Welcome.
        </p>

        <p class="govuk-body">
            You can
            <a class="govuk-link" href="https://forms.gle/Fvz1MZccZvxyT7hB6">order laptops and routers by filling in
                this form</a>.
        </p>

        <p class="govuk-body">
            <a class="govuk-link" href="/devices/operation-warm-welcome">Find out more about Operation Warm Welcome and
                what devices are available</a>.
        </p>


        <h2 class="govuk-heading-m">
            How to order
        </h2>
        <p class="govuk-body">
            You need to place orders on a website called TechSource.
        </p>
        <p class="govuk-body">
            If you try to order more than your allocation the order will be cancelled.
        </p>
        <p class="govuk-body">
            Most devices will be delivered within 5 working days of an order being confirmed, subject to stock
            availability.
        </p>
        <h3 class="govuk-heading-s">
            Combining allocations into one order
        </h3>
        <p class="govuk-body">
            You can combine allocations for all your schools and colleges, and have all devices delivered to one
            location. If you want devices delivered directly to different locations, place a separate order for each
            delivery address.
        </p>
        <p class="govuk-body">
            When using TechSource, you will be asked for a URN. Use any URN for one of the schools or colleges you
            manage.
        </p>


        <h3 class="govuk-heading-s">Using TechSource for the first time</h3>

        <p class="govuk-body">Use these details to sign in:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>User ID: satnam.singh+rb@digital.education.gov.uk</li>
            <li>Password: Use the ‘Forgotten password?’ link to set a password the first time you sign in</li>
        </ul>


        <a class="govuk-button govuk-button--start govuk-!-margin-bottom-3, govuk-!-margin-top-7" role="button"
            data-module="govuk-button" draggable="false" target="_blank" href="https://techsource.computacenter.com/en/login">Start now
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
                viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg></a>
        <p class="govuk-body-s">on the TechSource website</p>

    </div>
</div>


{% endblock %}