{% extends "layout.html" %}
{% set test = true %}
{% block pageTitle %}
Get help with technology
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Check your email
        </h1>
        <p>
            We’ve sent you an email. Follow the link to confirm your address and return to this service.
        </p>

        <div class="govuk-inset-text">
            If our email doesn't arrive within 5 minutes, check your spam and trash folder, or <a href="signed-in">try again</a>.
        </div>
    </div>
</div>




{% endblock %}