{% extends "layout.html" %}
{% set test = true %}

{% set bread = true %}
{% set home = 'Yo' %}

{% block pageTitle %}
Get help with technology
{% endblock %}
{% block breadCrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/testing"
},
{
text: "Your account",
href: "your-account"
},
{
text: "Your Huawei router password"
}
]
}) }}
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your Huawei router password</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">Password:</span> secret
    </p>
    <p class="govuk-body">
      Your password is the same for all Huawei routers you’ve received.
    </p>
    <p class="govuk-body">
      Do not share it with anyone.
    </p>
    <p class="govuk-body">
      You will need this password to <a class="govuk-link" href="managing-4g-router">reset your Huawei router</a>.
    </p>
  </div>
</div>

{% endblock %}