{% extends "layout.html" %}
{% set test = true %}
{% block pageTitle %}
Get help with technology
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            You’re signed in as Marblewald High School
        </h1>

        <p class="govuk-body">You can use the ‘Get help with technology’ service to:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-6">
            <li>check how many devices you can order</li>
            <li>access the TechSource website to place orders</li>
            <li>give us technical details for Chromebooks if you’ll be ordering them</li>
            <li>manage who can order devices.</li>
        </ul>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{ govukButton({
        text: "Continue",
        href: "your-account",
        isStartButton: false
        }) }}
    </div>
</div>




{% endblock %}