
{% extends "layout.html" %}

{% block pageTitle %}
  Getting help with technology
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Getting help with technology
      </h1>
      <p>
        DfE provided laptops and internet access for disadvantaged children and young people during coronavirus (COVID-19).
      </p>

      <p>
        Ordering is closed for laptops, tablets and extra mobile data. We still offer support with digital platforms and training.
      </p>

      <h2 class="govuk-heading-m">Sign in to access features</h2>

      <p>You can sign in to view your order history, or give a colleague access to the service and Support Portal.</p>

      <button class="govuk-button" data-module="govuk-button">
  Sign in
</button>

      <h2 class="govuk-heading-m">Guidance</h2>

      <p>[[Links from staging list here]]</p>
    </div>
  </div>


{% endblock %}
