{% extends "layout.html" %}

{% block pageTitle %}
Get help with technology
{% endblock %}

{% block content %}

<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Get help with technology will reopen on Friday 29 October
        </h1>
        <p>
            We announced on 22 October that we’ll be making a further 500,000 laptops and tablets available to schools,
            colleges,
            local authorities and trusts. These will be available to organisations through the Get help with technology
            service when
            it reopens on Friday 29 October.
        </p>
        <p>On that date, registered users will be able to view their organisation’s allocation of devices. We’ll send
            out
            ‘invitation to order’ emails throughout November and December – you will not be able to order devices before
            receiving
            your email. We expect to deliver the majority of devices by Christmas 2021.</p>
        <p>You do not need to contact us about allocations or how to order. When the service reopens on 29 October, full
            guidance
            will be available including details of the devices grant, which was also announced recently.</p>
        <div class="govuk-inset-text">
            <strong><a href="#">Read the full text of the announcement</a></strong>
        </div>
        <p>If you have any queries not related to ordering new devices, you can still email us at:</p>

        <a href="mailto:COVID.technology@education.gov.uk">COVID.technology@education.gov.uk</a>
        <br />
        <a class="govuk-button govuk-button--start govuk-!-margin-top-5" role="button" href="#" disabled> Sign in
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg"
                width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
    </div>
</div>
<!-- <hr class="govuk-!-margin-bottom-6" /> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
        <h2 class="govuk-heading-l">Guidance</h2>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--muted" href="#">How to order devices</a>
        </h3>

        <p class="govuk-body">
            Find out how to order laptops, tablets and routers for your school or organisation.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--muted" href="#">Laptops and tablets</a>
        </h3>

        <p class="govuk-body">
            Find out how to reset or get help with devices. Read guidance on ownership and safeguarding.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--muted" href="#">Internet access</a>
        </h3>

        <p class="govuk-body">
            Find out about funding and support for internet access.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
            <a class="govuk-link govuk-link--muted" href="#">Digital education platforms</a>
        </h3>

        <p class="govuk-body">
            Apply for funded support to access and use <span class="app-no-wrap">Google Workspace for Education
                Fundamentals</span>, or <span class="app-no-wrap">Microsoft 365 Education.</span>
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
            <a class="govuk-link govuk-link--muted" href="#">Training and support for
                remote and face-to-face
                education</a>
        </h3>

        <p class="govuk-body">
            Access funded advice, guidance and training from a network of schools and colleges expert in their use of
            technology.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link govuk-link--muted" href="#">Guides for parents,
                guardians, pupils
                and students</a>
        </h3>

        <p class="govuk-body">
            Get help guides to share with the children, young people and carers using the laptops, tablets and 4G
            wireless routers provided by DfE.
        </p>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">


        <aside class="app-related-items" role="complementary">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="" href="mailto:COVID.technology@education.gov.uk">Contact us</a>
            </h3>
            <p class="govuk-body">
                We aim to respond within <span class="app-no-wrap">3 working days</span>.
            </p>
            <h3 class="govuk-heading-m" id="subsection-title">
                Support links
            </h3>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="" href="mailto:COVID.technology@education.gov.uk">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <span class="govuk-link--muted"
                            href="https://get-help-with-tech.education.gov.uk/accessibility">
                            Accessibility
                        </span>
                    </li>
                    <li>
                        <span class="govuk-link--muted" href="https://get-help-with-tech.education.gov.uk/privacy">
                            Privacy
                        </span>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>



{% endblock %}