
{% extends "layout.html" %}

{% block pageTitle %}
  Getting help with technology
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Getting help with technology Prototypes 2021/22
      </h1>
      <p>
        This is the GHWT prototype homepage, here you will find prototypes for each user flow.
      </p>
      <p>The change log contains incremental updates made to the prototypes</p>


<br><br>
{% from "govuk/components/button/macro.njk" import govukButton %}

{# {{ govukButton({
  text: "Save and continue"
}) }} #}
      {% from "govuk/components/table/macro.njk" import govukTable %}

{# {{ govukTable({
  caption: "Prototypes",
  captionClasses: "govuk-table__caption--m",
  firstCellIsHeader: true,
  head: [
    {
      text: "Prototype"
    },
    {
      text: "View"
    }
  ],
  rows: [
    [
      {
        text: "RB - Responsible Body flow"
      },
      {
        text: ""
      }
    ],
    [
      {
        text: "School Users flow"
      },
      {
        text: ""
      }
    ]
  ]
}) }} #}

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Prototypes</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Prototype</th>
      <th scope="col" class="govuk-table__header">View</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="vertical-align: middle">RB - Responsible Body flow</th>
      <td class="govuk-table__cell">
      <a class="govuk-button" disabled href="#" style="margin: 0">
        View
        </a>
    </td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header" style="vertical-align: middle">School Users flow</th>
      <td class="govuk-table__cell"><a class="govuk-button" href="school-privacy-notice" style="margin: 0">
        View
        </a></td>
    </tr>
  </tbody>
</table>

<br><br>
      <h2 class="govuk-heading-m">Prototype change log</h2>
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
  {
      key: {
        text: "23/9/2021"
      },
      value: {
        text: "School order screen"
      },
      actions: {
        items: [
          {
            href: "school-order",
            text: "View",
            visuallyHiddenText: "view"
          }
        ]
      }
    },
    {
      key: {
        text: "22/9/2021"
      },
      value: {
        text: "Chromebook journey improvements"
      },
      actions: {
        items: [
          {
            href: "school-chromebook",
            text: "View",
            visuallyHiddenText: "view"
          }
        ]
      }
    },
    {
      key: {
        text: "15/9/2021"
      },
      value: {
        text: "Heroku setup for prototype initiated"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "view"
          }
        ]
      }
    },
    {
      key: {
        text: "14/9/2021"
      },
      value: {
        html: "GDS Prototype repo cloned"
      },
      actions: {
        items: [
          {
            href: "",
            text: "",
            visuallyHiddenText: "view"
          }
        ]
      }
    }
  ]
}) }}

    </div>
  </div>




{% endblock %}
