{% extends "layout.html" %}
{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Your schools and colleges</h1>
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title"
            data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">Reset your
                    DfE-restricted Windows laptops and tablets</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">DfE restricted Windows laptops and tablets need to be
                    reset as soon as possible


                </p>
                <p class="">If you ordered these devices prior to <strong>30 June 2021</strong> you can: s

                </p>

                <p><a class="govuk-notification-banner__link govuk-notification-banner__heading"
                        href=" https://get-help-with-tech.education.gov.uk/assets">View your details
                        and BIOS/admin passwords</a></p>

                <p>You can find further guidance <a
                        href="https://get-help-with-tech.education.gov.uk/devices/guide-to-resetting-windows-laptops-and-tablets">here</a>
                </p>
            </div>
        </div>
    </div>

</div>
{% endblock %}