{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% from "govuk/components/panel/macro.njk" import govukPanel %}

        {{ govukPanel({
            titleText: "Your Done",
            html: "You'll shortly receive an email summarising what you have completed"
        }) }}

        <h2 class="govuk-heading-l">What happens next</h2>

        <p class="govuk-body">You can continue to use this service to: </p>

        <ul class="govuk-list govuk-list--bullet">
            <li>check how many devices you can order</li>
            <li>request 4G wireless routers</li>
            <li>add more users</li>
            <li>change you Chromebook settings</li>
        </ul>

        <p class="govuk-body"><a href="#">Read more about the device specifications</a></p>

        {{ govukButton({
        text: "Finish and go to homepage",
        href: "/",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: false
        }) }}

    </div>

</div>
{% endblock %}