{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Get laptops and tablets",
href: "#"
},
{
text: "Order devices",
href: "#"
}
]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Order devices</h1>

        <div class="govuk-panel govuk-!-margin-bottom-7" style="background-color: #f3f2f1; text-align: left;">
            <h2 class="govuk-heading-l">286 devices and<br>10 routers available to order</h2>
            <h2>You've ordered 0 of 3 routers and 0 of 100 devices</h2>
            {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

            {{ govukWarningText({
            text: "These allocation numbers are for the current winter 2022 Get help with tech programme. Devices
            received before 30
            September 2021 are not included here.",
            iconFallbackText: "Warning",
            classes: "govuk-!-margin-bottom-0"
            }) }}
        </div>

        <h2 class="govuk-heading-l">Device availability</h2>

        <h3 class="govuk-heading-m">Permanently out of stock</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Apple iPads</li>
            <li>Microsoft Windows Tablets</li>
        </ul>

        <h3 class="govuk-heading-m">Low stock</h3>
        <ul class="govuk-list govuk-list--bullet">
            <li>Standard and DfE-restricted Windows laptops - delivery may take longer than 5 working days</li>
        </ul>

        <h2 class="govuk-heading-l">Before you order</h2>

        <p class="govuk-body">Make sure you know what devices you need, as amending or cancelling an order will cause
            delays.</p>
        <p class="govuk-body">It may help to:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://get-help-with-tech-sandbox.london.cloudapps.digital/devices/device-specification">check
                    device specifications</a></li>
            <li><a href="https://get-help-with-tech-sandbox.london.cloudapps.digital/schools/100375/users/new">give
                    someone else access so they can place orders</a></li>
        </ul>

        <h2 class="govuk-heading-l">How to order</h2>
        <p class="govuk-body">Orders are fullfilled by our technology partner TechSource. Select 'Start now' to go to
            their website.</p>
        <p class="govuk-body">Most devices will be delivered within 5 working days of an order being confirmed, subject
            to stock availability.</p>
        <p class="govuk-body">If you try to order more than 10 routers and 286 devices, the order will be cancelled.</p>

        <h3 class="govuk-heading-m">Delivery Address</h3>

        <p class="govuk-body">Your devices will be delivered to:</p>
        <p class="govuk-body">
            Alfriston School<br />
            North Road<br />
            Alfriston<br />
            Polegate<br />
            BN26 5XB
        </p>
        <p class="govuk-body">If you need to change your delivery address, contact:<br>
            <a href='mailto:covid.technology@education.gov.uk'>COVID.TECHNOLOGY@education.gov.uk</a>
        </p>


        <h2 class="govuk-heading-m">Using TechSource for the first time</h2>

        <p class="govuk-body">Use these details to sign in:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li><strong>User ID:</strong> maintained@school.com</li>
            <li><strong>Password:</strong> Use the 'Forgotten password?' link to set a password the first time you sign
                in</li>
        </ul>

        <p class="govuk-body">When you place an order, you'll need the unique reference number (URN) for Alfriston
            School: 114385</p>


        {{ govukButton({
        text: "Start now",
        href: "#",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-2",
        isStartButton: true
        }) }}
        <p class="govuk-body">on the TechSource website</p>


    </div>



</div>
{% endblock %}