{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{# {% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %} #}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your Details</h1>
    <h2 class="govuk-heading-l">We'll need this information to configure your Chromebooks.</h2>
      <form action="/form-handler" method="post" novalidate>

        {{ govukInput({
          label: {
            text: "School or local authority email domain registered for G Suite for Education",
            classes: "govuk-label--m"
          },
          hint: {
            text: "For example, 'school.co.uk' "
          },
          classes: "govuk-input--width-10",
          id: "email-domain",
          name: "email-domain"
        }) }}

        {{ govukInput({
          label: {
            text: "Recovery email address",
            classes: "govuk-label--m"
          },
          hint: {
            text: "This email will be on a different domain to the school domain, for example a Gmail or Yahoo email account."
          },
          classes: "govuk-input--width-10",
          id: "email-domain",
          name: "email-domain"
        }) }}

        <p class="govuk-body">If you need help finding these details, speak to the people you usually contact for IT support.</p>

        {{ govukButton({
          text: "Continue",
          href: "#"
        }) }}
      </form>
    </div>
  </div>
  {# <script>
    (function() {
        document.getElementsByClassName('.govuk-button').onclick = function(e) {
            e.preventDefault();
            if(document.querySelector('input[name="are-you-ordering-chromebooks"]:checked').value == 'yes') {
                console.log('yo');
            }
        }
   })();
  </script> #}
{% endblock %}