{% extends "layout.html" %}
{% set test = true %}
{% block pageTitle %}
Get help with technology
{% endblock %}

{% block content %}
<div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Get help with technology
        </h1>
        <p>
            DfE provides laptops, tablets and routers for disadvantaged children and young people to help with remote
            education.
        </p>

        <div class="govuk-inset-text">
            Sign in to order devices, view your order history or give a colleague access to the service.
        </div>

        <a class="govuk-button govuk-button--start" role="button" href="sign-in"> Sign in
            <svg class="govuk-button__start-icon govuk-!-display-none-print" xmlns="http://www.w3.org/2000/svg"
                width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
            </svg>
        </a>
    </div>
</div>
<!-- <hr class="govuk-!-margin-bottom-6" /> -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop govuk-grid-column-full">
        <h2 class="govuk-heading-l">Guidance</h2>

        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/devices">How to order devices</a>
        </h3>

        <p class="govuk-body">
            Find out how to order laptops, tablets and routers for your school or organisation.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/devices">Laptops and tablets</a>
        </h3>

        <p class="govuk-body">
            Find out how to reset or get help with devices. Read guidance on ownership and safeguarding.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/internet-access">Internet access</a>
        </h3>

        <p class="govuk-body">
            Find out about funding and support for internet access.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="digital-platforms">
            <a class="govuk-link" href="/digital-platforms">Digital education platforms</a>
        </h3>

        <p class="govuk-body">
            Apply for funded support to access and use <span class="app-no-wrap">Google Workspace for Education
                Fundamentals</span>, or <span class="app-no-wrap">Microsoft 365 Education.</span>
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2" data-service-section="edtech">
            <a class="govuk-link" href="/EdTech-demonstrator-programme">Training and support for remote and face-to-face
                education</a>
        </h3>

        <p class="govuk-body">
            Access funded advice, guidance and training from a network of schools and colleges expert in their use of
            technology.
        </p>
        <hr class="govuk-!-margin-bottom-6" />
        <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
            <a class="govuk-link" href="/guides-for-parents-carers-and-students">Guides for parents, guardians, pupils
                and students</a>
        </h3>

        <p class="govuk-body">
            Get help guides to share with the children, young people and carers using the laptops, tablets and 4G
            wireless routers provided by DfE.
        </p>

    </div>

    <div class="govuk-grid-column-one-third-from-desktop govuk-grid-column-full">


        <aside class="app-related-items" role="complementary">
            <h3 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a class="govuk-link" href="/get-support">Contact us</a>
            </h3>
            <p class="govuk-body">
                We aim to respond within <span class="app-no-wrap">3 working days</span>.
            </p>
            <h3 class="govuk-heading-m" id="subsection-title">
                Support links
            </h3>
            <nav role="navigation" aria-labelledby="subsection-title">
                <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                        <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/get-support">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/accessibility">
                            Accessibility
                        </a>
                    </li>
                    <li>
                        <a class="govuk-link" href="https://get-help-with-tech.education.gov.uk/privacy">
                            Privacy
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
    </div>
</div>



{% endblock %}