{% extends "layout.html" %}
{% set test = true %}
{% block pageTitle %}
Getting help with technology
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
            Getting help with technology <br />
            Testing
        </h1>
        <p>
            Usability Testing area for GHWT, here you will find each user flow for testing.
        </p>



        <br><br>
        {% from "govuk/components/button/macro.njk" import govukButton %}

        {% from "govuk/components/table/macro.njk" import govukTable %}



        <table class="govuk-table">
            {# <caption class="govuk-table__caption govuk-table__caption--m">Prototype journeys</caption> #}
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">User flow</th>
                    <th scope="col" class="govuk-table__header">View</th>
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">RB
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="testing/rb/homepage" style="margin: 0">
                            View
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">School
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="testing/school/homepage" style="margin: 0">
                            View
                        </a>
                    </td>
                </tr>
                {# <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">Supplier
                        <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange">
                        WIP
                    </strong>
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="#" style="margin: 0" disabled>
                            View
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">Support
                        <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange">
                        WIP
                    </strong>
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="#" style="margin: 0" disabled>
                            View
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">ISS
                        <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange">
                        WIP
                    </strong>
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="#" style="margin: 0" disabled>
                            View
                        </a>
                    </td>
                </tr>
                <tr class="govuk-table__row">
                    <th scope="row" class="govuk-table__header" style="vertical-align: middle">SCL 
                        <strong class="govuk-tag govuk-phase-banner__content__tag govuk-tag--orange">
                        WIP
                    </strong>
                    </th>
                    <td class="govuk-table__cell">
                        <a class="govuk-button" href="#" style="margin: 0" disabled>
                            View
                        </a>
                    </td>
                </tr> #}
            </tbody>
        </table>


    </div>
</div>




{% endblock %}