{% extends "layout.html" %}
{% set test = true %}

{% set bread = true %}
{% set home = 'Yo' %}

{% block pageTitle %}
Get help with technology
{% endblock %}
{% block breadCrumbs %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "/testing"
},
{
text: "Your account",
href: "your-account"
},
{
text: "Request internet access"
}

]
}) }}
{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Request internet access</h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-l govuk-!-font-size-27">
      Extra mobile data
    </h2>

    <p class="govuk-body">
      This scheme temporarily increases data allowances for mobile phone users on certain networks, if they do not have access to broadband at home.
    </p>
    <p class="govuk-body">
       Extra mobile data will end on <span class="app-no-wrap">31 July 2021</span>.
    </p>

    <ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-7">
      <li>
        <a class="govuk-link" href="#">Request extra data for mobile devices</a>
      </li>
      <li>
        <a class="govuk-link" href="#">View your requests</a>
      </li>
    </ul>

    <h2 class="govuk-heading-l govuk-!-font-size-27">
      4G wireless routers
    </h2>
    <p class="govuk-body">
      You can request a router for disadvantaged pupils and students who do not
      have access to the internet at home, and cannot get a mobile data increase.
    </p>
    <p class="govuk-body">
      Data provided by DfE will end on <span class="app-no-wrap">31 July 2021</span>, but the routers will work with other data plans if they’re reset. Huawei routers need to be reset before <span class="app-no-wrap">16 July 2021</span>.
    </p>
    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a class="govuk-link" href="#">How to request 4G wireless routers</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Request 4G wireless routers from DfE</a>
      </li>
      <li>
        <a class="govuk-link" href="#">Get your 4G wireless routers</a>
      </li>
      <li>
        <a class="govuk-link" href="#">How to reset your router</a>
      </li>
    </ul>
      <h3 class="govuk-heading-s">
        Reset your Huawei router
      </h3>
      <p class="govuk-body">
        If you do not reset your Huawei router before <span class="app-no-wrap">16 July 2021</span>, you will not be able to use it after <span class="app-no-wrap">31 July 2021</span>.
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="#">See your Huawei router password</a>
      </p>
  </div>
</div>


{% endblock %}